body {
    font-family: 'Segoe UI', sans-serif;
    background: url('https://media.istockphoto.com/photos/white-bus-traveling-on-the-asphalt-road-in-a-rural-landscape-at-picture-id879364174?k=20&m=879364174&s=612x612&w=0&h=JJ90BcO8di7yr0EuHMelSZ3H8W6RGJ8fSgyBViPcP34=') no-repeat center center fixed;
        background-size: cover;
    padding: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}
